<form id="form-specs">
  <fieldset class="form-group mt-3">
    <legend>Required</legend>

    <div class="form-group row mt-2">
      <label for="field-zip" class="col-sm-2 col-form-label">ZIP Code</label>
      <div class="col-sm-10">
        <input type="text" pattern="[0-9]{5}" title="Five digit ZIP code" id="field-zip" class="form-control" size="5" maxlength="5" required/>
      </div>
    </div>

    <div class="form-group row mt-2">
      <label for="field-zip" class="col-sm-2 col-form-label">Date Range</label>
      <p><small class="text-body-secondary">The weather data service takes about a week to make data available.
          If you want a date range that ends within the past week, please wait several days for it to be online.</small></p>
      <div class="col-sm-10">
        <label for="field-date-start" class="form-label">Start Date</label>
        <input type="date" id="field-date-start" name="date_start">

        <label for="field-date-end" class="form-label">End Date</label>
        <input type="date" id="field-date-end" name="date_end">
      </div>
    </div>
  </fieldset>

  <fieldset class="form-group mt-3">
    <legend>Options</legend>

    <fieldset class="form-group mt-2">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Stats To Include</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="stats" id="field-stats-mean" value="mean" checked>
            <label class="form-check-label" for="field-stats-mean">Average Daily Temp</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="stats" id="field-stats-max" value="max">
            <label class="form-check-label" for="field-stats-max">Daily Max Temp</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="stats" id="field-stats-min" value="min">
            <label class="form-check-label" for="field-stats-min">Daily Min Temp</label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group row mt-2">
      <label for="field-colors-count" class="col-sm-2 col-form-label">Number of Colors</label>
      <div class="col-sm-10">
        <input id="field-colors-count" type="number" min="1" max="20" step="1" value="10" pattern="^[1-9][0-9]*$"/>
      </div>
    </div>
  </fieldset>

  <input type="submit" id="form-submit" class="btn btn-primary mt-3">
  <!--
  Use daylight hours
  Yarn brand selector?
  Width (for daylight hours)
  -->
</form>

<!-- Table will go here -->
<div id="results"></div>
